## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num = 10
print(num)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = "Mauricio Pulgarin"

5) Crear una variable que contenga un número complejo

In [4]:
com = 1+2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [5]:
print(type(com))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [6]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
valor = "True"
valor1 = True # No se trata de lo mismo pues uno es un string y el otro es un valor boleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [9]:
print(type(valor))
print(type(valor1))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
sum = 4 +3.5

11) Realizar una operación de suma de números complejos

In [11]:
com1 = 2+4j
print(com + com1)

(3+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
print(sum + com)

(8.5+2j)

13) Realizar una operación de multiplicación

In [14]:
mult = 4 * 5
print(mult)

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
elevar_2 = 2**8
print(elevar_2)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
div1 = 27
div2 = 4
print(div1/div2)

6.75

16) De la división anterior solamente mostrar la parte entera

In [17]:
print(div1//div2)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [18]:
print(div1%div2)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [20]:

y = div1//div2

w = 4*y

print(w + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [23]:
p1 = "Mauricio "
p2 = "Pulgarin"
print(p1 + p2)

Mauricio Pulgarin

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
var = "2"
var1 = 2
igual = var1 == var
print(igual)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
igual2 = int(var) == var1
igual3 = var == str(var1)
print(igual2)
print(igual3)

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
#a =float("3,8") EN python la coma no se reconoce como separacion para un float
b = float("3.8")
print(b)
#print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [35]:
valor = 3
valor -=1
print(valor)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [39]:
#2 + '2'
#2 + 2 
'2' + '2'

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [48]:
tipo_int = 4
tipo_str = "Mauricio "
#print( tipo_int * int(tipo_str))
print(tipo_int * tipo_str)

Mauricio Mauricio Mauricio Mauricio